* { margin: 0; padding: 0; }

body { color: rgb(40, 40, 40); font-family: "Helvetica"; }

header { padding-top: 24px; padding-bottom: 24px; border-bottom: 1px solid rgb(101, 105, 105); }
header a { margin: 0 auto;	display: block;	overflow: hidden;	height: 22px; }
header a svg { vertical-align: middle; }

.center { margin: 0 auto; }
.top { padding-top: 54px;	margin-bottom: 36px; overflow: hidden; background-color: rgb(251, 251, 250); border-bottom: 1px solid #dcdedd; }

.title { margin-bottom: 36px; overflow: hidden; }
.title h1 {	font-size: 38px; margin-bottom: 18px; font-weight: 200 !important; }
.title h2 {	color: rgb(101, 105, 105); font-size: 18px; margin-bottom: 18px; font-weight: 200 !important; }

.body { overflow: hidden; margin-bottom: 30px; }
.video { float: left; width: 65%; }
.pledge {	float: right; width: 33%; }
.pledge a { font-size: 16px; text-decoration: none; text-align: center; vertical-align: middle; padding: 16px 0; margin-bottom: 18px; background-color: rgb(0, 158, 116); color: rgb(255, 255, 255); display: block; width: 100%; }
.pledge a:hover { background-color: #037362; }
.pledge .statgroup { margin-bottom: 12px; }
.pledge .statgroup span { display: block; }
.pledge .statgroup span.stat { font-size: 24px; }
.pledge .statgroup span.green { color: rgb(3, 115, 98); }
.pledge .statgroup span.sub { color: rgb(101, 105, 105); }
.pledge button { float: left; background-color: white; font-size: 14px; border: 1px solid rgb(220, 222, 221); margin-bottom: 18px; width: 50%; padding: 14px 0; }
.pledge button:hover { border-color: rgb(40, 40, 40); }
.pledge .social { color: rgb(101, 105, 105); font-size: 18px; padding: 13.25px 0; float: right; margin-left: 24px;}
.pledge p { font-size: 12px; }

.content { padding: 60px 0; }

main { float: left; width: 65%; overflow: hidden; }
main h3 { font-size: 21px; font-weight: bold; margin-bottom: 30px; }
main p { font-size: 16px; line-height: 30px; margin-bottom: 30px; }
main img { margin-bottom: 30px; max-width: 100%; }
main ul { list-style-type: circle; padding-left: 40px; }
main li { margin-bottom: 30px; }

aside { float: right; width: 33%; }
aside h3 { font-size: 18px; font-weight: 200 !important; margin-bottom: 38px; }
aside ul { list-style: none; }
aside li { padding: 20px; margin-bottom: 20px; border: 1px solid #9B9E9E; }
aside li h3 { margin-bottom: 20px; }
aside .pledge-input { display: flex; overflow:hidden; border: 1px solid #DCDEDD; margin-bottom: 18px; }
aside .pledge-input .label { padding: 14.5px 16.5px 10.5px 16.5px; color: rgb(101, 105, 105); }
aside .pledge-input input { width: 100%; padding: 10px; font-size: 16px; border: none; border-left: 1px solid #DCDEDD; flex-grow: 1; }
aside a { font-size: 14px; text-decoration: none; text-align: center; vertical-align: middle; padding: 12px 0; background-color: rgb(0, 158, 116); color: rgb(255, 255, 255); display: block; width: 100%; }
aside a:hover { background-color: #037362; }